.block{
    width: 200px;
    height: 300px;
    margin: auto ;
    display: flex;
    flex-direction: column;
}
#changeColorButtonRed{
    width: 200px;
    height: 100px;
    background-color: red;
    color: aliceblue;
    cursor: pointer;
    font-size: 20px;
}
#changeColorButtonGreen{
    width: 200px;
    height: 100px;
    background-color: green;
    color: aliceblue;
    cursor: pointer;
    font-size: 20px;
}
#changeColorButtonBlue{
    width: 200px;
    height: 100px;
    background-color: blue;
    color: aliceblue;
    cursor: pointer;
    font-size: 20px;
}